@keyframes ldio-biy418mnlz-r {
  0%, 100% { animation-timing-function: cubic-bezier(0.2 0 0.8 0.8) }
  50% { animation-timing-function: cubic-bezier(0.2 0.2 0.8 1) }
  0% { transform: rotate(0deg) }
  50% { transform: rotate(180deg) }
  100% { transform: rotate(360deg) }
}
@keyframes ldio-biy418mnlz-s {
  0%, 100% { animation-timing-function: cubic-bezier(0.2 0 0.8 0.8) }
  50% { animation-timing-function: cubic-bezier(0.2 0.2 0.8 1) }
  0% { transform: translate(-60px,-60px) scale(0) }
  50% { transform: translate(-60px,-60px) scale(1) }
  100% { transform: translate(-60px,-60px) scale(0) }
}
.ldio-biy418mnlz > div { transform: translate(0px,-30px) }
.ldio-biy418mnlz > div > div {
  animation: ldio-biy418mnlz-r 1s linear infinite;
  transform-origin: 100px 100px;
}
.ldio-biy418mnlz > div > div > div {
  position: absolute;
  transform: translate(100px, 64px);
}
.ldio-biy418mnlz > div > div > div > div {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: #93dbe9;
  animation: ldio-biy418mnlz-s 1s linear infinite;
}
.ldio-biy418mnlz > div > div:last-child {
  animation-delay: -0.5s;
}
.ldio-biy418mnlz > div > div:last-child > div > div {
  animation-delay: -0.5s;
  background: #689cc5;
}
.loadingio-spinner-interwind-3zm572ozzsj {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  text-align: center;
  /* background: #f1f2f3; */
}
.ldio-biy418mnlz {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-biy418mnlz div { box-sizing: content-box; }
.position {
  margin-left: 500px;
  margin-top: 100px;
}